name: CI
on: push

jobs:
  mobile-save-for-later-user-deletion-ci:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          aws-region: eu-west-1
      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - name: Run Tests & Create Artifacts
        run: sbt "project mobile-save-for-later-user-deletion" test assembly

      - name: RiffRaff upload artifacts and upload cfn
        uses: guardian/actions-riff-raff@v2
        with:
          app: mobile-save-for-later-user-deletion
          configPath: ./mobile-save-for-later-user-deletion/riff-raff.yaml
          contentDirectories: |
            mobile-save-for-later-user-deletion-cfn:
             - ./mobile-save-for-later-user-deletion/conf/cfn.yaml
            mobile-save-for-later-user-deletion:
             - mobile-save-for-later-user-deletion/target/scala-2.13/mobile-save-for-later-user-deletion.jar
